.modal-container img {
    height: auto;
    width: 70%;
}
table {
    width: 100%;
    border: 1px solid #000;
    align-content: center;
 }
 tr, td {
    width: 30%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
 }

.cantidad {
    margin-top: 30px;
    width: 5%;
}
.precio {
    margin-top: 30px;
    width: 10%;
}

.number {
    width: 8vh;
    height: auto;
    border: 1px solid #000 ;
    border-radius: 10%;
    text-align: center;
}

.borrar-producto {
    width: 1%;
    color: red;
}
.borrar-producto img {
    margin-top: 30px;
    width: 25px;
}