@media (max-width: 768px) {
    .menu-principal {
        justify-items: center;
        align-items: center;
     }
     .menu-principal h1 {
         grid-area:2/1/2/2;
     }
     .menu-principal-buscar {
         grid-area: 3/1/3/2;
     }
     .buscar-input {
         width: 150px;
     }
     .menu-principal-carrito {
         grid-area: 4/1/4/1;
         justify-self: end;
     }
     .cta {
         justify-self: end;
     }
     .whatsapp {
     right: 0px;
     }
     .nosotros {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }
     .nosotros h4 {
         font-size: 1rem;
         letter-spacing: normal;
     }
     .nosotros p {
         display: flex;
         flex-wrap: wrap;
         font-size: 6px;
         text-align: center;
     }
 
     .productos-todos {
         width: 50vh;
     }
     .productos-todos img {
         width: 300px;
     }
     .productos-todos {
        width: 40vh;
        display: flex;
        align-items: center;
        height: 110vh;
    }
    .productos-todos img {
        width: 40vh;
        max-height: 25vh;
    }
    .contacto {
        display: block;
        font-size: 1rem;
    }
    .menu-superior-lista {
        display: none!important;
    }
    .portada div a img {
        display: none!important;
    }

    .nosotros h4 {
        font-size: 1.5vh;
    }
    .menu-principal {
        padding: 10px;
    }
    .menu-principal.compras h1 {
        font-size: 1.2rem;
    }
    .menu-principal-buscar {
        padding: unset;
    }
    .portada h2 {
        font-size: 3vh!important;
    }
    .portada {
        justify-content: unset!important;
    }
    .portada-tienda {
        width: 30vh!important;
    }
    .modal {
        width: 92%;
        left: 0rem;
        padding: 1rem;
    }
    .total {
        width: 100%;
        display: inline-block;
        padding-top: 3vh;
        text-align: -webkit-center;
    }
    #lista-carrito {
        width: 50%!important;
    }
    .subir img {
        width: 7vh;
    }
    .whatsapp img {
        width: 10vh;
    }
    .modal-header {
        font-size: 2vh;
    }
    .productos-boton.comprar {
        width: 7rem;
        font-size: 0.6rem;
        height: 1.5rem;
    }
    .menu-principal.compras.compras h1 {
        font-size: 1.5rem;
    }
}