.whatsapp img {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 90px;
    height: auto;
}
.subir img {
    display: inline-block;
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 60px;
}
